ul.baraja-container {
	width: 200px;
	height: 310px;
	margin: 0 auto 30px;
	position: relative;
	padding: 0;
	list-style-type: none;
}

ul.baraja-container li {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	background: #fff;
	pointer-events: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.baraja-container p {
	font-family: Verdana;
	font-size: 9px;
	padding: 0 10px;
}

ul.baraja-container li {
	border-radius: 10px;
	padding: 5px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.baraja-container li img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.baraja-container h4 {
	margin-top:1px;
	text-align:center;
}
.baraja-container .card_title {
	text-align:left;
	margin-top:-5px;
	margin-bottom:2px;
}

/* мини-версия карт */
ul.baraja-container-mini {
	width: 200px;
	height: 182px;
	margin: 0 auto 30px;
	position: relative;
	padding: 0;
	list-style-type: none;
}

ul.baraja-container-mini li {
	border-radius: 10px 10px 0 0;
	padding: 5px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.baraja-container-mini .progress {
	height: 14px;
	margin-bottom:0px;
	margin-top:-7px;
}

.baraja-container-mini .label, .baraja-container-mini .badge {
	font-size:10px;
	padding: 0px 2px;
}

.baraja-container-mini .card_title {
	text-align:left;
	margin-top:-8px;
	margin-bottom:2px;
}